.search-input {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-right: 12px;
  width: 40%;
}

.person-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  max-width: 53%;
  border: 1px solid gray;
  border-radius: 12px;
}

.card-row {
  display: flex;
  justify-content: space-between;
}

.card-row-key {
  font-weight: 500;
}

.card-button {
  margin: 0px 16px;
}

@media only screen and (max-width: 720px) {
  .person-card {
    max-width: 85%;
  }
}
