.wrapper {
  width: 1024px;
  margin: auto;
}

.button {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.button:hover {
  transform: scale(1.1);
}

.cur-po {
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .wrapper {
    width: 100%;
    padding: 12px 24px;
  }
}
